@use 'tailwindcss';

:root {
	--sidebar-width: 15rem;
}

@theme {
	--color-primary: #ad2528;
	--color-bg: #191b28;
	--color-border: #2a3439;

	--spacing-layout: 1.2rem;
}

* {
	font-family:
		var(--font-noto-sans),
		ui-sans-serif,
		system-ui,
		-apple-system,
		sans-serif;
}

body {
	@apply bg-bg text-base text-white;
}
